body{
    margin: 0%;
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(img/observacao-de-estrelas-em-stardew-valley-dd1bbzwykl2327cc.webp);
}
main{
    width: 60%;
    margin-top: 5%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.721);
    border-radius: 5px;
}
section{
    text-align: center;
}
input{
    padding: 0.5%;
}
.botao{
    border: none;
    background-color: rgba(9, 19, 91, 0.796);
    color: rgb(255, 255, 255);
}
